html {
    box-sizing: border-box;
    }
  *, *:before, *:after {
    box-sizing: inherit;
    }

.menu-nav{
    display: flex;
    justify-content: space-around;
    background-color: gray;
    align-items: center;
}
.titulo-nav, .copy{
    color: white;
    font-weight: 200;
}
.lista{
    display: flex;
    list-style: none;
}

.item-lista a{
    color: white;
    text-decoration: none;
    margin: auto 1rem;
    align-items: center;
}
.item-lista a:hover{
    color: black;
}

.titulo-logo{
    display: flex;
    align-items: center;

}

.logo{
    max-width: 3rem;
}

.cartIcon{
    color: white;
}

main{
    flex-grow: 1;
}

/* ItemCount */

.cantidadElegida{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 2rem;
}
.btnconfirmar{
    margin: 1rem;
}
.stock{
    margin-top: 1.5rem;
    font-size: smaller;
    color: grey;
}
.numero-contador{
    margin: rem;
}


/* Contenedor productos - ItemListContainer*/
.contenedor-producto{
    display: flex;
    flex-wrap: wrap;

    margin: .5rem;
}
.tarjeta-producto{
    max-width: 30%;
    border: 1px solid black;
    margin: .5rem;
    padding: .5rem;
    text-align: center;
}
.tarjeta-producto:hover{
    box-shadow: 2px 2px 5px black;
}
.img-producto{
    width: 20rem;
}
.info-producto{
    line-height: .2rem ;
}
.nombre-producto{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
}
