html {
    box-sizing: border-box;
    }
  *, *:before, *:after {
    box-sizing: inherit;
    }

.menu-nav{
    display: flex;
    justify-content: space-around;
    background-color: gray;
    align-items: center;
}
.titulo-nav{
    color: white;
    font-weight: 200;
}
.lista{
    display: flex;
    list-style: none;
}

.item-lista a{
    color: white;
    text-decoration: none;
    margin: auto 1rem;
    align-items: center;
}
.item-lista a:hover{
    color: black;
}

.titulo-logo{
    display: flex;
    align-items: center;

}

.logo{
    max-width: 3rem;
}

.cartIcon{
    color: white;
}

main{
    flex-grow: 1;
}

/* ItemCount */
.itemCard{
    display: inline-block;
    border: 1px solid black;
    background-color: aquamarine;
    text-align: center;
    padding: .5rem 2rem;
}
.cantidadElegida{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 2rem;
}
.btnconfirmar{
    margin-top: 1rem;
}